.left-content,
.right-content {
	width: 420px;
}

.main {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: var(--bg);
	height: 70%;
}

.logo {
	width: 220px;
}

.footer {
	height: 30%;
	background: white;
}

.logo-description {
	font-weight: normal;
	margin: 0;
}

.right-content {
	background: white;
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
	border-radius: 8px;
	width: 400px;
	padding: 1rem;
	box-sizing: border-box;
}

.right-content input {
	height: 48px;
	border: var(--border);
	font-size: 20px;
	padding-left: 1rem;
	margin-top: 1rem;
	box-sizing: border-box;
}

input.invalid-field {
	border-bottom: 2px solid red;
}

.login-form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	box-sizing: border-box;
}

.login-btn {
	height: 48px;
	background: var(--blue-bg);
	color: white;
	border: none;
	border-radius: 6px;
	margin-top: 1rem;
	font-size: 1.25rem;
}

.create-account-wrapper {
	padding: 1rem;
	box-sizing: border-box;
	text-align: center;
	border-top: 1px solid grey;
}

.create-account-wrapper button {
	height: 48px;
	box-sizing: border-box;
	border-radius: 6px;
	background-color: #42b72a;
	border: none;
	width: 80%;
	margin: auto;
}

.create-account-wrapper button {
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 18px;
}

.header {
	height: 3rem;
	display: flex;
	align-items: center;
}

.register-error {
	margin-top: 1rem;
	color: red;
}

